<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.newbrainapp">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="16"
        tools:overrideLibrary="cn.jzvd" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewsContent"
            android:theme="@style/NewsContentActivityTheme" />
         <activity
             android:name=".Login"
             android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".Register"
            android:theme="@style/AppTheme.Dark" />
        <activity android:name=".VideoList" />
        <activity android:name=".StudyMaterial" />
        <activity android:name=".StudyMaterialItem" />
        <activity android:name=".EvaluateForm01" />
        <activity android:name=".EvaluateForm02" />
        <activity android:name=".EvaluateForm03" />
        <activity android:name=".EvaluateForm04" />
        <activity android:name=".EvaluateForm05" />
        <activity android:name=".QuestionActivity" />
        <activity android:name=".EvaluateFormList" />
        <activity android:name=".NearHospital" />
        <activity android:name=".WebView1" />
        <activity android:name=".WebView2" />
        <activity android:name=".WebView3" />
        <activity android:name=".PersonInfo"></activity>
        <activity android:name="com.lmq.ui.PartnerHelp_Activity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"  >

        </activity>
        <activity android:name="com.lmq.ui.ShareXinde_Activity"/>
        <activity android:name="com.lmq.ui.PersonList_Activity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"  />
        <activity android:name="com.lmq.ui.DoctorList_Activity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"  />
        <activity android:name="com.lmq.ui.Person_Info_Activity"  />
        <activity android:name="com.lmq.ui.Doctor_Info_Activity"  />
        <activity android:name="com.lmq.ui.PersonShareList_Activity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"  />
        <activity android:name="com.lmq.ui.Settings_Activity"  />
        <activity android:name="com.lmq.ui.Settings_Advice_Activity"  />
        <activity android:name="com.lmq.tool.Url_Web"  />
        <activity android:name="com.lmq.ui.Settings_Message_Activity"  />
        <activity android:name="com.lmq.ui.MessageList_Activity"  />
        <activity android:name="com.lmq.ui.HealthInfo_Activity"  />
        <activity android:name="com.lmq.ui.HealthInfo_Base_Edit_Activity"  />

        <activity android:name="com.lmq.ui.HospitalHistory_Item_Activity"  />
        <activity android:name="com.lmq.ui.HospitalHistory_Activity"  />
        <activity android:name="com.lmq.ui.HealthInfo_ProblemHistory_Activity"  />
        <activity android:name="com.lmq.ui.HealthInfo_ProblemHistory_Item_Activity"  />
    </application>

</manifest>